@mixin button {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 450;
  transition: all 350ms;
  &:hover {
    cursor: pointer;
    transition: all 350ms;
    filter: brightness(1.2);
  }
}
